$primary-color: #030229;
$mainAccent-color: #605bff;
$mainLight-color: #fff;
$mainDark-color: #000;
$background-color: #fafafb;
// $secondory-color: #52555fb2;
// $secondaryAccent-color: #ffdac0;
// $pozitive-color: #407946;
// $negative-color: #e7192e;
// $auxiliaryDark-color: #a6abb9;
// $auxiliaryLight-color: #f5f6fb;
