.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // width: 218px;
  //   border: 1px solid skyblue;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
}
